    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

    :root {
        --fontFamily: 'Inter', sans-serif;
        --bagImgColor: linear-gradient(113.97246213018036deg, rgba(243, 243, 243, 1) 12.97582304526749%, rgba(255, 249, 237, 1) 45.09369488536155%, rgba(255, 228, 196, 1) 87.00360082304526%);
    }

    body,
    html {
        width: 100%;
        height: 100%;
        font-size: 20px;
        background-repeat: no-repeat;
        background-image: var(--bagImgColor);
        font-family: var(--fontFamily);
    }


    #container {
        margin: 100px auto;
        background-color: white;
        height: 400px;
        width: 700px;
        border-radius: 25px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.30);
        position: relative;
    }

    #start {
        font-size: 1.5em;
        font-weight: bolder;
        word-break: break-all;
        width: 300px;
        height: 150px;
        border-radius: 25px;
        border: 3px solid #f7a043;
        cursor: pointer;
        position: absolute;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
        top: 100px;
        left: 200px;
        color: #ef6033;
        font-family: var(--fontFamily);
        background-color:#fff;
    }

    #start h3 {
        margin: 50px 50px;
    }

    #start:hover {
        border: 3px solid #f7a043;
        color: #f7a043;
    }

    #qImg {
        width: 150px;
        height: 150px;
        position: absolute;
        left: 20px;
        top: 90px;
        border: 2px solid rgb(255, 250, 239);
        border-radius: 15px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    }

    #qImg img {
        width: 140px;
        height: 140px;
        border-top-left-radius: 5px;
    }

    #question {
        width: 500px;
        height: 125px;
        position: absolute;
        right: 0;
        top: 0;
    }

    #question p {
        margin: 0;
        padding: 25px;
        font-size: 1.30em;
        font-weight: 500;
        font-family: var(--fontFamily);
        text-transform: uppercase;
    }

    #choices {
        width: 480px;
        position: absolute;
        right: 0;
        top: 125px;
        padding: 10px
    }

    .choice {
        display: inline-block;
        width: 135px;
        text-align: center;
        border: 2px solid rgb(255, 250, 239);
        border-radius: 15px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        padding: 5px;
    }

    .choice:hover {
        border-radius: 15px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        font-weight: 500;
        border: 2px solid #f7a043;

    }

    #timer {
        position: absolute;
        height: 100px;
        width: 200px;
        bottom: 0px;
        text-align: center;
    }

    #counter {
        font-size: 3em;
    }

    #btimeGauge {
        width: 150px;
        height: 10px;
        border-radius: 10px;
        background-color: lightgray;
        margin-left: 25px;
    }

    #timeGauge {
        height: 10px;
        border-radius: 10px;
        background-color: #d2eb77;
        margin-top: -10px;
        margin-left: 25px;
    }

    #progress {
        width: 500px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 5px;
        text-align: right;
    }

    .prog {
        width: 25px;
        height: 25px;
        border: 1px solid #000;
        display: inline-block;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
    }

    #scoreContainer {
        margin: 70px auto;
        background-color: white;
        opacity: 1;
        height: 350px;
        width: 500px;
        border-radius: 25px;
        box-shadow: 0px 5px 15px 0px;
        position: relative;
        display: none;
    }

    #scoreContainer img {
        position: absolute;
        top: 50px;
        left: 10px;
        width: 50%;
        height: 70%;
        border: 2px solid rgb(255, 250, 239);
        border-radius: 25px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);

    }

    #scoreContainer h4 {
        position: absolute;
        display: block;
        width: 59px;
        height: 59px;
        top: 70px;
        left: 325px;
        font-size: 1.51em;
        font-weight: bold;
        text-align: center;
        font-family: var(--fontFamily);
    }

    #scoreContainer p {
        position: absolute;
        display: block;
        width: 200;
        height: 200;
        top: 150px;
        left: 300px;
        font-weight: 500;
        font-family: var(--fontFamily);
    }