@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --fontFamily: 'Poppins', sans-serif;
    --bodyContainerColor: rgb(252, 243, 233);
    --navbarBgColor: #362E24;
}

html {
    height: auto;

}

body {
    width: 100%;
    height: 200%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontFamily);
}

/*--------------------------------------------heading*/
/*----------------------------nav*/
.navbar-dark {
    background-color: var(--navbarBgColor);
}

.nav-container {
    margin: 0px;
    padding: 0px;
}

.nav-text {

    font-weight: 500;

}


.logoImg {
    width: 30%;
    height: 30%;
    margin: 5px;
}

.navbar-collapse {
    background-color:var(--navbarBgColor); 
}

.navbar-nav {
    padding-left: 20px;
}


/*--------------------------------------------section*/
/*----------------------------form*/
.cardImageText {
    margin-top: 30px;

}

.card {
    border: none;

}

.card-body {
    margin-top: 20px;
    padding: 10px;
    text-align: center;


}

h5 {
    font-size: 15px;

}

img {
    width: 50%;
    height: 50%;
    border-radius: 80px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.formContainer {
    margin-top: 50px;
    padding: 0;
    position: relative;


}

.contactFormOuter {
    padding-left: 20%;

}


.boxTest {

    margin: 150px 40px;
    background-color: var(--bodyContainerColor);
    padding: 50px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}



/*----------------------------footer*/
.footer-container {
     background-color: var(--bodyContainerColor);
}

.footer-outer {

    padding: 10px 10px 10px 10px;

}

.aboutLink {
    margin-top: 10px;
}

.footerText {
    color: #dc3444;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;



}

.list-inline {
    margin-bottom: 0px;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
    margin-top: 7px;
}

.list-inline-item {
    display: inline-block;
    justify-content: space-around;
    margin: 0px 10px 0px 30px;
}

.aboutLink .footerText:hover {
    color: #f4873b;
    text-decoration: none;
    text-transform: uppercase;
}




.socialLink li a i {
    width: 32px;
    height: 32px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 5px;
    text-align: center;
    color: #fff;
    background: #dc3444;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.socialLink li a i:hover {
    background: #f4873b;
}

/*--------------------------------------------------------------------------------------Media Queries--*/


/*---------------------------------------------------------------------------------------Media Queries-max-width:768px*/

@media only screen and (max-width: 768px) {


    /*----------------------------max-width:768px*/
    /* nav */
    .navbar-dark {
        background-color: var(--navbarBgColor);
        height: 60px;
    }

    .nav-text {

        font-weight: 400;
        font-size: 15px;


    }

    .logoImg {
        width: 22%;
        height: 22%;
        margin: 5px;
    }



}

/* --------------------------------------------------------------------mxa-width:600px */

@media only screen and (max-width: 600px) {



    /* nav */
    .navbar-dark {
        background-color: var(--navbarBgColor);
        height: 60px;
    }

    .nav-text {

        font-weight: 400;
        font-size: 15px;

    }


    .logoImg {
        width: 22%;
        height: 30%;
        margin: 5px;
    }

    /* footer */
    .footer-outer {
        padding: 0px;
    }

    .list-inline {
        margin: 10px 60px 10px 5px;
    }

    /* section */
    .cardImageText {
        margin-top: 20px;
        margin-left: 15%;
        padding-left: 20px;
        width: 200px;
        height: 200px;

    }

    .card {
        border: none;

    }

    .card-body {
        margin-top: 20px;
        padding: 10px;
        text-align: center;
    }

    h3 {
        font-size: 20px;
    }

    h5 {
        font-size: 12px;

    }

    img {
        width: 50%;
        height: 50%;
        border-radius: 80px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    }

    .formContainer {
        margin-top: 50px;
        padding: 0;
        position: relative;


    }

    .contactFormOuter {
        padding: 0px;
        margin-top: 50px;

    }

    .form-group {
        margin-left: 10px;
        font-size: 14px;
        text-align: center;
    }

    .form-control {
        font-size: 12px;
        text-align: center;
    }


    .boxTest {

        margin: 100px 20px;
        background-color: rgb(252, 243, 233);
        padding: 10px;
        height: 100%;
        border-radius: 15px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    }

    .btn-danger {
        font-size: 15px;
    }


}