@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --fontFamily: 'Inter', sans-serif;
    --bagImgColor: linear-gradient(113.97246213018036deg, rgba(243, 243, 243, 1) 12.97582304526749%, rgba(255, 249, 237, 1) 45.09369488536155%, rgba(255, 228, 196, 1) 87.00360082304526%);
}
body {
     background-image: var(--bagImgColor);
}
/*--------------------------------------------heading*/
/*----------------------------nav*/

.nav-container {

    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;


}

.nav-text {
    font-family: var(--fontFamily);
    font-weight: 500;

}

/*--------------------------------------------section*/
/*----------------------------form*/
.cardImageText {
    margin-top: 30px;
    
}
.card {
    border: none;

}
.card-body {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    
   
}
h5 {
    font-size: 15px;

}

img {
    width:50%;
    height: 50%;
     border-radius: 80px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.formContainer {
    margin-top: 50px;
    padding: 0;
    position: relative;
  
}
.contactFormOuter {
    padding-left: 20%;

}


.boxTest {
    margin: 150px 40px;
    background-color: #fff;
    padding: 50px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.contactText {
    background-color: rgb(241, 236, 191);
    margin: 0;
}

/*----------------------------footer*/
.footer-outer {

    padding: 25px 25px 10px;
    background-color: rgb(252, 242, 231);
}


.footerText {
    color: #ef6033;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--fontFamily);
}

.list-inline-item:not(:last-child) {
    margin: 0px 20px 0px 20px;
}


.aboutLink .footerText:hover {
    color: #f7a043;
    text-decoration: none;
    text-transform: uppercase;
}




.socialLink li a i {
    width: 32px;
    height: 32px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 5px;
    text-align: center;
    color: #fff;
    background: #ef6033;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.socialLink li a i:hover {
    background: #f7a043;
}