@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --fontFamily: 'Inter', sans-serif;
    --bagImgColor: #FFF8E6;
}



html body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: var(--bagImgColor);
}

/*---------------------------question model*/
.modal-split {
    text-transform: uppercase;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 150px;
    height: 150px;
    border-radius: 50px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 50px;


}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 50px;
    object-fit: cover;

}

.selectionPhoto_1 {
    padding: 10px 35px 20px 10px;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 50px 50px;
    font-family: var(--fontFamily);
    font-weight: bold;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 5px;
    height: 40px;
    text-transform: uppercase;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: black;
}

.title-black {
    color: black;
}

.alert.alert-info,
.button {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}