@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --fontFamily: 'Inter', sans-serif;
    --bagImgColor: linear-gradient(113.97246213018036deg, rgba(243, 243, 243, 1) 12.97582304526749%, rgba(255, 249, 237, 1) 45.09369488536155%, rgba(255, 228, 196, 1) 87.00360082304526%);
}


html {
    height: auto;

}

body {
    width: 100%;
    height: 200%;
    background-image: var(--bagImgColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*--------------------------------------------heading*/
/*----------------------------nav*/

.nav-container {

    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;


}

.nav-text {
    font-family: var(--fontFamily);
    font-weight: 500;


}

.logoImg {
    width: 35%;
    height: 35%;
}

/*--------------------------------------------section*/
/*----------------------------main slideshow*/
.carouser {
    margin-bottom: -50rem;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
}



.carousel-caption {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);

    font-family: var(--fontFamily);
}

.carousel-caption h1 {
    font-size: 250%;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    letter-spacing: .3rem;
    padding-bottom: 1rem;
    font-family: var(--fontFamily);

}

.carousel-caption h3 {
    font-size: 180%;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    letter-spacing: .3rem;
    padding-bottom: 2rem;
    font-family: var(--fontFamily);
}



/*----------------------------two images hover*/
.homeTwoCard {

    text-align: center;

}

.my-row {
    margin: 20px;
}

.my-col {
    margin: 50px;
    font-family: var(--fontFamily);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);

}

.test-card {
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}


/*----------------------------map*/
.map-caption-outer {

    margin: 30px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    background-color: #fff;

}

#map {
    height: 600px;
    width: 100%;
    margin: 30px;

}

#mapText {
    margin: 30px;


}

.cafeList {
    color: black;
    text-transform: lowercase;
    font-weight: 700;
    font-style: italic;
    font-family: var(--fontFamily);


}

.mapCafeList .cafeList:hover {
    text-decoration: none;
    color: #ffc44c;
}

/*----------------------------news letter*/
.newsletterContainer {
    border: 2px solid rgb(255, 250, 239);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    margin: 30px 15% 30px 15%;
    background-color: #fff;
}

.newsletterInfo {
    text-align: center;
    margin: 10px 10px;
    font-family: var(--fontFamily);
}


.center-form {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin: 15px 45% 30px 45%;
}

/*----------------------------footer*/
.footer-outer {
    background-color: rgb(252, 242, 231);
    padding: 25px 25px 10px;
}

.footerText {
    color: #ef6033;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--fontFamily);
}

.list-inline-item:not(:last-child) {
    margin: 0px 20px 0px 20px;
}


.aboutLink .footerText:hover {
    color: #f7a043;
    text-decoration: none;
    text-transform: uppercase;
}




.socialLink li a i {
    width: 32px;
    height: 32px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 5px;
    text-align: center;
    color: #fff;
    background: #ef6033;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.socialLink li a i:hover {
    background: #f7a043;
}