@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');



/*--------------------------------------------heading*/
/*----------------------------nav*/

.nav-container {
    margin: 0px;
    padding: 0px;

}

.nav-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/*--------------------------------------------section*/
/*----------------------------main slideshow*/
.containerHomeSlide {
    width: 100%;

}

/*----------------------------two images hover*/
.my-container {
    margin-top: 30px;
    text-align: center;
}

.my-row {
    margin: 20px;
}

.my-col {
    margin: 50px;

}

/*----------------------------map*/
#map {
    width: 70%;
    height: 400px;
    text-align: center;
}